@font-face {
    font-family: "vicomay";
    src: url(Fonts/ufonts.com_vi-co-may.ttf);
}

h1 {
    font-family: "vicomay";
    font-weight: bold;
    color: blue;
    text-align: center;
    font-size: 150px;
}

#welcome {
    width: 50%;
    float: right;
}

#welcome_header {
    font-family: "vicomay";
    font-weight: bold;
    text-align: center;
    font-size: 100px;
}

#welcome_message {
    text-align: center;
    float: right;
    font-size: 40px;
}

#welcome_button {
    margin-left: 20%;
    margin-right: 20%;
}


#bottle {
    float: left;
    margin-right: 30px;
}

#vacuum {
    float: inline-start;
    margin-top: -30px;
}

nav {
    text-align: right;
    padding-top: 5px;
    margin-left: 12px;
    font-family: "vicomay";
    font-size: 100px;
    background-attachment: fixed;
}

a {
    color: black;
}

.footer_link {
    color: white;
}

.footer_link:hover {
    text-decoration: underline;
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

#blue_bar {
    height: 15px;
    width: 100%;
    background-color: blue;
}

#red_bar {
    height: 15px;
    width: 100%;
    background-color: red;
}

#home_image {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#yosief {
    width: 50%;
}

#footer_text {
    color: white;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: black;
}
